<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <username>${env.MAVEN_USER}</username>
            <password>${env.MAVEN_PASS}</password>
            <id>central</id>
        </server>
        <server>
            <username>${env.MAVEN_USER}</username>
            <password>${env.MAVEN_PASS}</password>
            <id>central_repo</id>
        </server>
        <server>
            <username>${env.MAVEN_USER}</username>
            <password>${env.MAVEN_PASS}</password>
            <id>central-plugins</id>
        </server>
        <server>
            <username>${env.MAVEN_USER}</username>
            <password>${env.MAVEN_PASS}</password>
            <id>snapshot-deploy-repo</id>
        </server>
        <server>
            <username>${env.MAVEN_USER}</username>
            <password>${env.MAVEN_PASS}</password>
            <id>release-deploy-repo</id>
        </server>
        <server>
            <username>${env.MAVEN_USER}</username>
            <password>${env.MAVEN_PASS}</password>
            <id>rpm-repo</id>
        </server>
    </servers>
    <profiles>
        <profile>
            <properties>
                <central_repo>https://ncr.jfrog.io/ncr/digitalbanking-maven-group</central_repo>
                <plugin_repo>https://ncr.jfrog.io/ncr/third-party-maven-central-proxy</plugin_repo>

                <release_deploy_repo>https://ncr.jfrog.io/ncr/digitalbanking-maven-group</release_deploy_repo>
                <snapshot_deploy_repo>https://ncr.jfrog.io/ncr/digitalbanking-maven-group</snapshot_deploy_repo>
                <thirdparty_deploy_repo>https://ncr.jfrog.io/ncr/digitalbanking-maven-group</thirdparty_deploy_repo>
            </properties>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>release-deploy-repo</id>
                    <name>digitalbanking-maven-group</name>
                    <url>https://ncr.jfrog.io/ncr/digitalbanking-maven-group</url>
                </repository>
                <repository>
                    <snapshots />
                    <id>snapshot-deploy-repo</id>
                    <name>digitalbanking-maven-group</name>
                    <url>https://ncr.jfrog.io/ncr/digitalbanking-maven-group</url>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>central</name>
                    <url>https://ncr.jfrog.io/ncr/third-party-maven-central-proxy</url>
                </repository>
                      <!--
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>yum-repo</id>
                    <name>yum-deploy-repo</name>
                    <url>https://ncr.jfrog.io/ncr/digitalbanking-rpm-group</url>
                </repository>
                    -->
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>plugin-releases</id>
                    <name>digitalbanking-maven-group</name>
                    <url>https://ncr.jfrog.io/ncr/digitalbanking-maven-group</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>plugin-snapshots</id>
                    <name>digitalbanking-maven-group</name>
                    <url>https://ncr.jfrog.io/ncr/digitalbanking-maven-group</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>central</name>
                    <url>https://ncr.jfrog.io/ncr/third-party-maven-central-proxy</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>